@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
}

/* STYLE HEADER */

header {
  display: flex;
  justify-content: space-between;
  margin: 1% auto;
  width: 95%;
}

header a {
  text-decoration: none;
  font-size: 25px;
  color: blueviolet;
  font-family: 'League Spartan', sans-serif;
}

header a:hover {
  color: crimson;
}

.timer {
  display: inline;
  text-align: right;
  font-size: 25px;
  font-weight: bolder;
}

/* STYLE MAIN PAGE */

.intro-screen {
  padding: 20px;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.page-title {
  text-align: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600px;
  color: coral;
}

.intro-screen p {
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300px;
  line-height: 1.5;
}

span {
  font-family: 'League Spartan', sans-serif;
}

.intro-screen button {
  align-items: center;
  margin: 5% 40%;
}

.start-btn {
  font-size: 25px;
  font-weight: 500;
  color:crimson;
  padding: 10px;
  border: none;
  outline: .5px solid;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
}

.start-btn:hover {
  cursor: pointer;
  background: crimson;
  color: #fff;
}

/* STYLE QUESTIONS */

.questions {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  margin: auto;
}


.seen {
  display: flex;
}

.hidden {
  display: none;
}